# engine-strict=true

save-exact=true

# workspaces=true
# include-workspace-root=true
if-present=true

# -- pnpm hoisting requirements --
# shamefully-hoist=true
public-hoist-pattern[]=@jest/*
public-hoist-pattern[]=jest-environment-node

public-hoist-pattern[]=@material/*
public-hoist-pattern[]=@smui/*
public-hoist-pattern[]=smui-theme
public-hoist-pattern[]=wonka
public-hoist-pattern[]=workbox-*
public-hoist-pattern[]=@graphql-*
