<div>
	<!--[if mso | IE]>
		<table role="presentation" width="100%" align="center" style="${inlineStyle}" class="${className}"><tr><td></td><td style="width:37.5em;background:#ffffff">
	<![endif]-->
</div>
<div style="{{styles containerStyles (object margin="0 auto" maxWidth="37.5em")}}">
	{{> @partial-block }}
</div>
<div>
	<!--[if mso | IE]>
		</td><td></td></tr></table>
	<![endif]-->
</div>