@use 'sass:color';

@use '@material/theme/color-palette';

@use '../variables.module' as vars;

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: map-get(vars.$colors-light, 'primary'),
	$secondary: map-get(vars.$colors-light, 'secondary'),
	$surface: map-get(vars.$colors-light, 'surface'),
	$background: map-get(vars.$colors-light, 'background'),
	$error: color-palette.$red-900
);

@use '../app';

html,
body {
	background-color: var(--mdc-theme-background, theme.$surface);
	color: var(--mdc-theme-on-surface, theme.$on-surface);
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
