@use 'sass:color';

@use '@material/theme/color-palette';

$colors-dark: (
	primary: #ff3e00,
	secondary: color.scale(#676778, $whiteness: -10%),
	surface: color.adjust(color-palette.$grey-900, $blue: +4),
	background: #464646,
	on-surface: #fff,
);

$colors-light: (
	primary: #ff3e00,
	secondary: #676778,
	surface: #fff,
	background: #fff,
	on-surface: #000,
);

@mixin rule($key, $value, $prefix) {
	#{$prefix}-#{$key}: $value;
}
@mixin map-to-string($map, $prefix) {
	@each $key, $value in $map {
		@include rule($key, $value, $prefix);
	}
}

:export {
	@include map-to-string($colors-dark, 'colors-dark');
	@include map-to-string($colors-light, 'colors-light');
}
